* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Raleway', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
}
p {
    
    font-size: 14px;
}

/* ============= Generic CSS ============== */

.section-title {
    padding-top: 90px;
    padding-bottom: 50px;
    
}
.section-title h2 {
    position: relative;
    text-align: center;
    color: #333;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}
.section-title h2:after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    width: 60px;
    height: 1px;
    background-color: darkgray;
    margin-left: -30px;
}


.section-title p {
    color: #333;
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    text-align: center;
    margin-top: 45px;
}

/* =========== Navigation ============ */

.navbar-default {
    background-color: transparent;
    border-color:darkgrey;
    z-index: 110;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
}
.navbar-default .navbar-nav > li > a {
    color:darkgrey;
    font-family: "Raleway", sans-serif;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    
}
.navbar-default .navbar-nav > li > a:hover {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:focus {
    color: #B5B5B5;
}
.navbar-brand {
    padding: 9px 15px;
}
.navbar-brand img  {
     transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
}
.navbar-default .navbar-nav > .active>a, 
.navbar-default .navbar-nav > .active>a:hover,
.navbar-default .navbar-nav > .active>a:focus {
    background-color: transparent;
    color: #fff;
} 



/* =========== Header ============ */
.header {
    background-image: url("../images/header-bg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    
}
.header-overlay {
    background-color: rgba(31, 31, 31, 0.35);

}
.header-text h1 {
    color: #fff;
    font-size: 35px;
    font-weight: 300;
    line-height: 45px;
    padding-top: 30px;
    margin-top: 110px;
    margin-left: 800px;
    text-transform: uppercase;
}
.header-btns {
    margin-top: 90px;
    margin-bottom: 50px;
}

.btn-moreinfo,
.btn-moreinfo:focus,
.btn-moreinfo:active,
.btn-moreinfo:visited
{
    color: #fff;
    margin-left: 800px;
    font-size: 19px;
    font-weight: 500;
    background: transparent;
    border-color:#fff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    text-transform: uppercase;
    border-radius: 3px;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
     -o-transition: all 1s;
}
.btn-moreinfo:hover{
    background-color:darkgrey;
    color: #fff;    
}

/* ========= About Us ============= */
.choose-us-wraper {

    padding-top: 50px;
}

.about-img img {
 margin-top: 100px;    
}
.choose-us-title {
    padding-bottom: 50px;
    
}
.choose-us-title h2 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    position: relative;
}
.choose-us-title h2:after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 70px; 
    height: 1px;
    background-color: darkgray;
}

.choose-us-title p {
    margin-top: 10px;
    font-size: 19px;
    line-height: 24px;
}

.choose-us-item {
    position: relative;
    padding-bottom: 4px;
    padding-left: 80px;
}
.choose-us-item div {
    position: absolute;
    top: 0;
    left: 0;
}
.choose-us-item div i {
    margin-left: 80px;
    font-size: 20px;
    color:#333;
    transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    -moz-transition: all 1s;
}
.choose-us-item h3 {
 color: #333;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
}

.choose-us-item p {
    color: #727272;
    font-size: 15px;
} 
/* ========= Testimonials ============= */
.testimonial {
    margin-top: 100px;
    background-image: url("../images/recruitment-bg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-position: 50% 50%;
}
.testimonial-overlay {
    background-color: rgba(31, 31, 31, .6);
    padding-top: 80px;
    padding-bottom: 80px;
}
.carousel-indicators {
    bottom: -10px;
}
.carousel-inner .item img {
    border: 2px solid #B5B5B5;
    border-radius: 50%;
    padding: 3px;
}
.testimonial-caption {
    padding-bottom: 70px;
}
.testimonial-caption h2 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 30px;
    margin-top: 25px;
    
}
.testimonial-caption h4 {
    color: #129CF3;
}

.testimonial-caption h4 span {
    
    color: #D8D8D8;
    font-style: italic;
    font-weight: 300;
    
}

.testimonial-caption p {
    color: #D8D8D8;
    font-size: 18px;
    line-height: 27px;
    padding-top: 50px;
}
/* ========= News ============= */
.news-inner-wrapper {
    
    padding-top: 30px;
    padding-bottom: 70px;
}
.left-new-item {
    position: relative;
    padding-right: 90px;
    margin-bottom: 65px;
    text-align: right;
    margin-top: 35px;
}
.left-new-item-icon {
    position: absolute;
    right: 0;
    top: -8px;
    font-size: 40px;
    color: #129CF3;
    width: 90px;
    height: 90px;
    text-align: center;
    
}
.left-new-item h3 {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 21px;
    color: #333;
}
.left-new-item p {
    color: #333;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
}
.news-care img {
    margin-top: 105px;
    width: 100%;
}
.right-new-item {
    position: relative;
    padding-left: 90px;
    margin-bottom: 65px;
    margin-top: 35px;
    text-align: left;
}
.right-new-item-icon {
    position: absolute;
    left: 0;
    top: -8px;
    font-size: 40px;
    color: #129CF3;
    width: 90px;
    height: 90px;
    text-align: center;
    
}
.right-new-item h3 {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 21px;
    color: #333;
    
    
}
.right-new-item p {
 
    color: #333;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
}

/* ========= Make An Appointment ============= */
.make-an-appointment {
    background-color: #B5B5B5;
    padding-top: 100px;
    padding-bottom: 100px;
}
.make-an-appointment p {
    color: #FFF;
    font-size: 22px;
    font-weight: 300;
}
.btn-make-an-appointment,
.btn-make-an-appointment:active,
.btn-make-an-appointment:focus,
.btn-make-an-appointment:visited 
{
    font-size: 21px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 6px;
    padding: 10px 35px;
    text-transform: uppercase;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    
    
}

.btn-make-an-appointment:hover {
    background-color:#666666;
    border-color: #AAAAAA;
}

/* ========= Counter ============= */
.counter {
    background-image: url("../images/SpiritualHealth-2-1540x939_c.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-position: 50% 50%;
    margin-top: 120px;
}
.counter-overlay {
    padding-top: 100px;
    padding-bottom: 120px;
    background: rgba(0, 0, 0, .05);
}
.counter-item i {
    color: #333;
    font-size: 60px;
}
.counter-item h2 {
    font-family: "Source Sans Pro", sans-serif;
    color: #D7DADB;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 35px;
    margin-top: 15px;
    margin-bottom: 1px;
}
.counter-item p {
    color: #D7DADB;
    font-size: 20px;
    margin-top: 0px;
    font-weight: 300;
    text-transform: uppercase;
    font-family: "Source Sans Pro", sans-serif;
}


/* ========= Contact Us ============= */
.contact-us-form .form-control {
    display: block;
    width: 100%;
    height: 50px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 21px;
    color: #555;
    background-color: transparent;
    border: 1px solid #aeaeae;
    border-radius: 3px;
    margin-bottom: 15px;
    opacity: .8;
    outline: 0px !important;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    
}
#message {
    height: 117px;
    resize: none;
}
.submit-btn,
.submit-btn:active,
.submit-btn:focus,
.submit-btn:visited {
    
    background-color: transparent;
    border: 1px solid #666666;
    border-radius: 4px;
    width: 100%;
    height: 50px;
    text-transform: uppercase;
    font-size: 18px;
    color: 	#666666;
    outline: 0px !important;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
}
.submit-btn:hover {
    background: #666666;
    color: #fff;
    border-color: #666666;
}
.social-icons {
    padding-top: 50px;
    padding-bottom: 70px;
    
}
.social-icons ul {
    margin:0;
    padding: 0;
    text-align: center;
    
}
.social-icons ul li { 
    list-style: none;
    display: inline;
    padding-left: 10px;
}

.social-icons ul li a {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    border: 1px solid #9d9d9d;
    border-radius: 3px;
    width: 45px;
    height: 45px;
    line-height: 49px;
    color: #9d9d9d;
     transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    
}
.social-icons ul li a:hover {
    
    background-color: #666666;
    border: 1px solid #666666;
    color: #fff;
} 
.social-icons ul li a i {
    font-size: 20px;
}


/* ========= Footer ============= */
.footer {
    background-color: #1a1a1a;
    padding-bottom: 35px;
    padding-top: 35px;
    border-bottom: 3px solid #666666;
}
#copyright {
    width: 50%;
}
#copyright p {
    color: #8C8B8A;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
}
#copyright p a {
    text-decoration: none;
    color: #fff;
}
.scroll-top {
    text-align: right;
}
.scroll-top a {
    background-color:black;
    padding: 25px;
}
.scroll-top a i {
    color: #fff;
    font-size: 25px;
}
